<!-- kalau tidak bisa di local ini di ganti nama dulu karena ini setting hosting -->
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ -[L]
    RewriteRule ^ index.php [L]
</IfModule>
